[project]
name = "segment_everything"
authors = ["bnorthan <bnorthan@gmail.com>"]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-arm64"]
version = "0.1.0"

[system-requirements]
cuda = "12.0"

[dependencies]
python = "3.11.*"
micro_sam = ">1.6"
monai = "*"
ipykernel = "*"
pytest = "*"  # Add pytest for testing

[pypi-dependencies]
stringzilla = "==4.3.*"
tnia-python = { git = "https://github.com/True-North-Intelligent-Algorithms/tnia-python.git" }
appose = "*"
PyQt5 = "*"
raster-geometry = "*"

segment-everything = { git = "https://github.com/True-North-Intelligent-Algorithms/segment-everything.git" }

# comment this in (and above out) to debug with editable version
#segment-everything = { path = "../", editable=true}

#mobile-sam = { git = "https://github.com/ChaoningZhang/MobileSAM.git"}

[target.linux-64.dependencies]
pytorch-gpu = "*"
cudnn = "*"

[target.win-64.dependencies]
pytorch-gpu = "2.6.0"
cudnn = "*"

[target.osx-arm64.dependencies]
pytorch = "*"  # CPU-only PyTorch for macOS

[tasks]
# Register the environment as a Jupyter kernel for use in VS Code and Jupyter
register-kernel = "python -m ipykernel install --user --name=segment_everything --display-name 'EVERYTHING (segment_everything)'"